/* ==========================================================================
   Variables
   ========================================================================== */

/* 
   Colours
   ========================================================================== */

$grey: #e6e6e6;
$gray: $grey;

/* 
   Font weights
   ========================================================================== */

$bold: 900;
$regular: 300;

