/* ==========================================================================
   Variables
   ========================================================================== */

$iphone6: 375px;
$sm: 767px;
$md: 967px;
$lg: 1100px;

@mixin breakpoint($size) {
	@media only screen and (min-width : $size) {
		@content;
	}
}

/* 
   Colours
   ========================================================================== */

$grey: #e6e6e6;
$gray: $grey;
$white: #fff;
$midGrey: #6a6666;
$midGray: $midGrey;
$black: #000;
$darkGrey: #2b2b2b;
$darkGray: $darkGrey;

/* 
   Font weights
   ========================================================================== */

$heavy: 900;
$regular: 300;
$bold: 700;


