.Login {
  background: $darkGrey;
  height: 100%;

  &__inner {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
  }

  &__heading {
    font-size: 72px;
    font-weight: bold;
    color: $white;
    letter-spacing: -5px;
  }
}